.col-1 {
    width: calc(8.3333333333%*1); 
}

.col-2 {
    width: calc(8.3333333333%*2); 
}

.col-3 {
    width: calc(8.3333333333%*3); 
}

.col-4 {
    width: calc(8.3333333333%*4); 
}

.col-5 {
    width: calc(8.3333333333%*5); 
}

.col-6 {
    width: calc(8.3333333333%*6); 
}

.col-7 {
    width: calc(8.3333333333%*7); 
}

.col-8 {
    width: calc(8.3333333333%*8); 
}

.col-9 {
    width: calc(8.3333333333%*9); 
}

.col-10 {
    width: calc(8.3333333333%*10); 
}

.col-11 {
    width: calc(8.3333333333%*11); 
}

.col-12 {
    width: calc(8.3333333333%*12); 
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
}

.row [class*="col-"] {
    box-sizing: border-box;
    margin: 0 0;
    padding: 1em; 
}

@media only screen and (max-width: 900px) {
    .row {
        flex-direction: column; 
    }

    .row [class*='col'] {
        flex: 1;
        width: 100%; 
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    body {
        width: 100%; 
    } 
}